<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="assets/fonts/css/all.css">
    

    <title>CDALS</title>
</head>

<body style="scroll:smoth;">
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">C D A L S</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto text-capitalize ">
                    <a class="nav-link p-lg-3 active text-primary" aria-current="page" href="#">Acceuil</a>
                    <a class="nav-link p-lg-3 " href="#about">À propos</a>
                    <a class="nav-link p-lg-3 " href="#activités">activités</a>
                    <a class="nav-link p-lg-3 " href="#ateliers">Les ateliers</a>
                    <a class="nav-link p-lg-3 " href="#evenements">Événements</a>
                    <a class="nav-link p-lg-3 " href="#contact">Contact</a>
                    <a class="p-lg-3 btn btn-primary text-white" href="inscrir.php">inscrire</a>
                </div>
            </div>
        </div>
    </nav>